$tokenstaking--margin-left__desktop: 	12em;		// token staking, left margin (desktop)
$tokenstaking--margin-right__desktop: 	12em;		// token staking, right margin (desktop)
$tokenstaking--margin-left__tablet:     8em;        // token staking, right margin (tablet)
$tokenstaking--margin-right__tablet:    8em;        // token staking, right margin (tablet)
$tokenstaking--margin-left__mobile: 	1em;		// token staking, left margin (mobile)
$tokenstaking--margin-right__mobile: 	1em;		// token staking, right margin (mobile)