$tokenstaking--margin-left__desktop: 	18em;		// token staking, left margin (desktop)
$tokenstaking--margin-right__desktop: 	18em;		// token staking, right margin (desktop)
$tokenstaking--margin-left__tablet:     6em;        // token staking, right margin (tablet)
$tokenstaking--margin-right__tablet:    6em;        // token staking, right margin (tablet)
$tokenstaking--margin-left__mobile: 	4em;		// token staking, left margin (mobile)
$tokenstaking--margin-right__mobile: 	4em;		// token staking, right margin (mobile)