$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$app-purple: #a333c8;
$page-bg-color: #FFFCFA;

$red: #db2828;
$green: #21BA45;
$blue: #2185d0;
$teal: #00b5ad;
$pink: #e03997;
$purple: $app-purple;

.main-color {
    color: $app-purple;
}