.input-container {
    margin-left: $tokenstaking--margin-left__mobile;
    margin-right: $tokenstaking--margin-right__mobile;
    justify-content: center;
    display: flex;
}

.input-container__form {
    padding: 3em !important;
    border: 1px solid #a333c8;
    border-radius: 1em;
    max-width: none !important;
}

.input-field {
    border-radius: 20px !important;
    font-size: 0.9em !important;
}

.input-field__input {
    height: 5em;
    width: 3em !important
}

.input-field__image {
    padding: 0.3em;
    display: flex;
}

.input-container__button {
    width: 100%;
    text-decoration: none !important;
    display: flex !important;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    color: white !important;
    background-color: #a333c8 !important;
    &:hover {
        color: #a333c8 !important;
        background-color: white !important;
        border: 1px wheat solid !important;
    }
    font-size: 0.85em !important;
    font-weight: bold !important;
}

.staking-stats {
    font-size: 1.1em;
    display: grid;
}

.staking-stats__number {
    color: #a333c8
}

* {
	box-sizing: border-box;
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: #a333c8;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	margin: 10px;
    padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}

.countdown-item span {
	color: #a333c8;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

@include media( '<medium' ) {
    .dai-label-and-image {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 !important;
    }

    .input-field__image {
        margin: 0 !important;
    }
}

@include media( '>=medium' ) {
.input-container {
    margin-left: $tokenstaking--margin-left__tablet;
    margin-right: $tokenstaking--margin-right__tablet;
}

.input-container__button {
font-size: 1.3em !important;
}

.input-field {
    font-size: 1.9em !important;
}

.input-field__input {
    height: 2.7em !important;
    width: 5em
}

.staking-stats {
    font-size: 1.3em;
}

.input-container__form {
   width: 30em
}

.dai-label-and-image {
    height: 2.7em !important;
    display:table-cell; vertical-align:middle; text-align:center
}

}
@include media( '>=large' ) {
.input-container {
    margin-left: $tokenstaking--margin-left__desktop;
    margin-right: $tokenstaking--margin-right__desktop;
}

.input-container__button {
font-size: 1.8em !important;
}

.input-field {
    font-size: 1.8em !important;
}

.input-field__input {
    height: 3em !important;
    width: 5em
}

.staking-stats {
    font-size: 1.6em;
}

.input-container__form {
   width: 50em
}

.dai-label-and-image {
    height: 3em !important
}

}