.ui.slider.checkbox .box,
.ui.slider.checkbox label {
  color: #292929;
  padding-left: 4.5rem;
  line-height: 1rem;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ label:before {
  background-color: #a333c8 !important;
}

.ui.slider.checkbox input:focus:checked ~ .box:before,
.ui.slider.checkbox input:focus:checked ~ label:before {
  background-color: #a333c8 !important;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th {
  padding-left: 15px;
}